<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verificare senzori vs șantiere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Verificare senzori</h1>

    <form method="POST" enctype="multipart/form-data">
        <label for="sensors">Încarcă fișierul cu senzori (CSV):</label>
        <input type="file" name="sensors"> 

        <label for="addresses">Încarcă fișierul cu adrese (TXT):</label>
        <input type="file" name="addresses"><br><br>

        <label>
            <input type="checkbox" name="use_axifleet">
            Folosește senzorii din API Axifleet
        </label>
        <br><br>


        <input type="submit" value="Generează raport">
    </form>


    {% if report %}
        <h2>Senzori mai departe de 0.5 km</h2>
        <ul>
            {% for sensor_id, dist in report %}
                <li>{{ sensor_id }} – {{ dist }} km</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if not_found %}
        <h2>Adrese negăsite</h2>
        <ul>
            {% for address in not_found %}
                <li>{{ address }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if report or not_found %}
        <form method="POST" action="/download">
            <input type="hidden" name="report" value="{% for id, dist in report %}{{ id }} – {{ dist }} km\n{% endfor %}">
            <input type="hidden" name="not_found" value="{% for addr in not_found %}{{ addr }}\n{% endfor %}">
            <button type="submit">📄 Descarcă raport PDF</button>
        </form>
    {% endif %}

</body>
</html>
